body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: "Roboto", sans-serif;

    color: #fff;
    background-color: #232629;
}
/* PUSH MENU */
#menu_switch{
  display:none;
  position: fixed;
  top:0;
}
#menu {
    position: fixed;
    top: 0;
    left: -300px;

    width: 300px;
    height: 100%;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;

    background-color: rgb(22, 22, 22);
}


#menu_switch:checked ~ #menu {
    left: 0;
}

.page_wrap {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    position: relative;
}
#menu_switch:checked ~ .page_wrap {
    margin-left: 300px;
}

#menu_toggle {
    display:inline-block;
    position: relative;

    width: 51px;
    height: 51px;

    cursor: pointer;
      -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
}

#menu_toggle i {
    color: black;
    font-size: 2.5rem !important;
}

#menu_toggle:before {
    top: 12px;
    left: 25px;

    width: 1px;
    height: 27px;
}

#menu_toggle:after {
    top: 25px;
    left: 12px;

    width: 27px;
    height: 1px;
}

.navbar {
    background-color: #007BFF !important;
}

.navbar-nav li a{
    text-transform: uppercase;
    font-weight: 700;
    color: #FFC107 !important;
    float: right;
    margin: 10px 0 10px !important;
}

.nav-text {
    color:white;
    text-transform: uppercase;
}

.has-subnav a {
    list-style: none;
    text-decoration: none;
}


.has-subnav {
    list-style: none;
    float: left;
    margin: 10px 0 10px;

}

i {
    color:white;
    font-size: 1.5rem !important;
    line-height: normal;
    padding-right: 10px;
}

.nav-text:hover,i:hover{
    color: #FFC107;
}

.i-toggle {
    font-size: 32px;
}

.container-jumbotron {
    margin-left: 50px;
    margin-right: 50px;
    height: 100% !important;
    width: 90% !important;
}